---
name: Build

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Java 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'

      - name: apps-build
        env:
          SKIP_FRONTEND: Y
        # language=bash
        run: make apps-build

      - name: tools-build
        # language=bash
        run: make tools-build

# TODO: fix Helm violations like "name is required", "apiVersion is required", ...
#      - name: charts-build
#        # language=bash
#        run: make charts-build

      - name: examples-build
        # language=bash
        run: make examples-build

      - name: delivery-build
        # language=bash
        run: make delivery-build
